<!-- About Page -->
{% extends "layout.html" %}
{% block content %}
<h1>Japanese Learning Application</h1>
<h2>About</h2>
<br>
<p align="left">
Learning languages is difficult. Language courses have high attrition rate and people generally have trouble maintaining progress. In particular, Japanese features thousands of complex characters known as kanji that are difficult to write and remember the meaning of, taking learners many years to master. This application aims to help users read more web pages by displaying information about the kanji and words contained in some text.
</p>
<p align="left">
In addition, a detailed analysis and bits of interesting trivia about the entered text are provided, such as the most freqently appearing kanji, words and the most difficult to write kanji.
</p>
<p align="left">
As this application is intended for language learners, information about each kanji and word's JLPT level is also provided. The JLPT (Japanese Language Proficiency Test) is a standarized test that Japanese language learners study for, with test levels ranging from 5 (the lowest, conversational level) to 1 (the highest, near-native.) Part of this application's aim is to inform the user of what skill level they need to obtain in order to be able to read and comprehend their entered passage.
</p>
<p align="left">
Finally, users can create accounts. The benefit to creating an account is that it allows you to save past search terms so that you can easily refer to them in the future. They can also utilize the comments section, which allows other Japanese learners to come together and express their study techniques and frustrations together.
</p>

{% endblock content %}
