<!-- About Page -->
{% extends "layout.html" %}
{% block content %}
<h1>Japanese Learning Application</h1>
<h2>About</h2>

<p align="left">
  Learning languages is difficult, language courses have high attrition rate,
  and people generally have trouble maintaining progress. This application aims
  to help users read more web pages or articles in Japanese. The application
  allows the user to submit a web url and it parses it to determine the most
  used characters, and reading difficulty of that web page.
</p>

{% endblock content %}
