<!-- Index or Home Page -->
{% extends "layout.html" %}
{% block content %}
<h1>Japanese Learning Application</h1>
<br><br>
<!--<form name="form" role="search" method="POST" action="/send">
  <p>
    <input type="text" name="url" size="50">
    <input class="btn btn-primary" type="submit" name="submitBT" value="Search">
  </p>
</form>-->
<!--<div class="col-12 col-md-10 col-lg-8">-->
<form class="card card-sm" name="form" role="search" method="POST" action="/send">
	<div class="card-body row no-gutters align-items-center">
		<div class="col-auto">
		<i class="fas fa-search h4 text-body"></i>
 		</div>
 		<div class="col">
 		<input class="form-control form-control-lg form-control-borderless" type="search" name="url" placeholder="Enter a Japanese word, sentence or paragraph you want to analyze!">
		</div>
 		<div class="col-auto">
 		<button class="btn btn-lg btn-success" type="submit">Search</button>
		</div>
	</div>
</form>

{% if input is defined %}
<p>Input: {{input}}</p>
{% endif %}

{% if kanji is defined %}

<div class="row mb-2">
{% for items in kanji %}
<div class ="col-md-6">
	<div class="card flex-md-row mdb-4 shawdow-sm h-md-250">
		<div class="card-body d-flex flex-column align-items-start">
			<strong class="d-inline-block mb-2 texxt-primary">Kanji</strong>
			<h3 class="mb-0">
				<a class="text-dark" >{{items[0]}}</a>
			</h3>
			{% for h, attr in zip(kanji_headers, items) %}
  			<p align="left" class="card-text mb-auto">{{h}}{{attr}}</p>
			{% endfor %}
		</div>
	</div>
</div>
{% endfor %}
</div>
{% endif %}
<br><br>

{% if dictionary is defined %}

<div class="row mb-2">
{% for items in dictionary %}
<div class ="col-md-6">
	<div class="card flex-md-row mdb-4 shawdow-sm h-md-250">
		<div class="card-body d-flex flex-column align-items-start">
			<strong class="d-inline-block mb-2 texxt-primary">Word</strong>
			<h3 class="mb-0">
				<a class="text-dark" >{{items[0]}}</a>
			</h3>
			{% for h, attr in zip(dict_headers, items) %}
  			<p align="left" class="card-text mb-auto">{{h}}{{attr}}</p>
			{% endfor %}
		</div>
	</div>
</div>
{% endfor %}
</div>
{% endif %}
{% endblock content %}
